* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0),;
}

*:focus {
  outline: none;
}

html, body {
  overflow-x: hidden;
}

body {
  background: #F5F6F7;
  font-family: 'Helvetica Neue',Helvetica;
  font-weight: 400;
  margin: 0;
  overflow-x:hidden;
  position: relative;
  width: 100%;
}

.flexContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.purpleGradient {
  background: linear-gradient(52deg, rgba(79,11,189,1) 0%, rgba(136,38,255,1) 100%, rgba(113,4,112,1) 100%);
}

pre,
.greyBkgr {
  background: #ececec !important;
}

.greyBkgr>div {
  width: 95%;
}


pre {
  padding: 20px;
  text-align: left;
  width: 100%;
  overflow-x: auto !important;
}

.codeRow pre {
  width: 33%;
  height: 100%;
  overflow-y: hidden;
  display: inline-block;
  margin: 0;
}

.codeRow {
  width: 100%;
  background: #ececec;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
}

.codeRow>div {
  width: 100%;
}

.toggleCode {
  width: 100%;
  background: #ececec;
  cursor: pointer;
  padding: 20px;
  font-size: 14px;
  color: #686868;
  margin-top: 10px;
}

.header {
  justify-content: center;
  width: 100%;
  height: 380px;
  overflow: hidden;
}

.header h1 {
  color: white;
  font-size: 45px;
  word-break: normal;
  max-width: 80%;
}

.header h2 {
  color: #ececec;
  font-size: 25px;
  font-weight: 400;
  border-bottom: none;
  padding: 0;
  width: auto;
  max-width: 80%;
}

.ribbon {
  overflow: hidden;
  white-space: nowrap;
}

.ribbon a {
  border: 1px solid #e4e4e4;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  right: -50px;
  top: 40px;
  transform: rotate(45deg);
  background-color: #383838;
}

.token.operator {
  background: none !important;
}

code {
  text-shadow: none !important;
  font-weight: bold;
  font-size: 14px;
}

section h1 {
  font-size: 18px;
  font-weight: 400;
  padding-top: 50px;
  margin: 0;
}

.firstH1 {
  padding-top: 75px;
}

h2 {
  border-bottom: 1px solid grey;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 0;
  width: 100%;
}

h3 {
  font-size: 15px;
  font-weight: 400;
  padding: 10px 0;
}

.content {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1200px;
}

.side {
  width: 30%;
  align-items: flex-start;
  padding: 50px 0;
}

.main {
  width: 100%;
}

section {
  width: 100%;
}

ul {
  list-style: none;
  line-height: 2;
  padding: 0;
}

li {
  cursor: pointer;
}

ul.subUl {
  padding: 0 15px;
}

.subList a {
  font-size: 14px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: inherit;
}

a:visited {
  color: inherit;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 65px;
  display: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: white;
  display: inline-block;
  cursor: pointer;
}

.innerButton {
  border: 1px solid #b8b8b8;
  padding: 20px 25px;
  cursor: pointer;
}

.hPosText {
  width: 70%;
}

.hPosText>div {
  width: calc(100%/3);
  display: inline-block;
  text-align: center;
  font-style: italic;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row > div {
  margin-left: calc(50% - 85px);
}

.row > div:nth-child(2) {
  margin: 60px 0;
  margin-left: calc(50% - 85px);
}

.row.types > div:nth-child(2) {
  margin: 60px 0 110px 0;
  margin-left: calc(50% - 85px);
}

.row.animations > div {
  margin-left: 0px;
  align-self: center;
}

.row.v-pos-container > div:nth-child(2) p {
  margin-bottom: 40px;
}

.row.v-pos-container > div:nth-child(3) p {
  margin-bottom: 65px;
}

.row.h-pos-container > div {
  margin-left: 0px;
  align-self: center;
}

.row.h-pos-container > div:nth-child(2) {
  margin-top: 110px;
}

.row.h-pos-container > div:nth-child(3) {
  margin-top: 55px;
  margin-bottom: 40px;
}

.vPlaceHolder {
  margin-top: 0px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 25px 0 5px 0;
  border-radius: 5px;
  overflow: hidden;
}

td, th {
  border: 1px solid #a1a1a1;
  text-align: left;
  padding: 10px;
}

td {
  font-size: 15px;
}

th {
  background: #444444;
  color: white;
  padding: 14px;
}

tr:nth-child(even) {
  background-color: #ececec;
}

.vPlaceHolder,
.hPlaceHolder {
  height: 50px;
  width: 5px;
  font-size: 14px;
  background: purple;
  position: relative;
}

.hPlaceHolder {
  height: 5px;
  width: 50px;
  margin-top: 10px;
}

.colors .row>div {
  min-width: 150px;
}

.hoverDiv {
  width: 120px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: #2c2c2c;
  border: 2px solid #4b4b4b;
  background: rgba(137, 27, 211, 0.4);
  border-radius: 5px;
}

.square {
  position: relative;
  width: 250px;
  height: 250px;
  border: 2px solid #4b4b4b;
  overflow: hidden;
  background: rgba(137, 27, 211, 0.4);
  border-radius: 5px;
}

.adjInner {
  align-self: flex-start;
  padding-left: 20px;
}

.top,
.left,
.right,
.bottom {
  position: absolute;
  height: calc(100% / 1.414);
  width: calc(100% / 1.414);
  top: 50%;
  left: 50%;
  border: 1px solid #4b4b4b;
  transform-origin: 0% 0%;
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
}

.topText,
.bottomText,
.rightText,
.leftText {
  position: relative;
  top: 47.5%;
  left: 45%;
}

.leftText {
  left: -20%;
}

.topText {
  top: 20%;
  left: 45%;
}

.bottomText {
  top: 75%;
  left: 32%
}

.bottom {
  transform: rotate(45deg);
}

.top {
  transform: rotate(-135deg);
}

.left {
  transform: rotate(135deg);
}

.square > div:hover {
  background: rgba(128, 128, 128, 0.4);
}

.adjOuter {
  width: 400px !important;
  padding-left: 270px;
}

.tpPositions {
  width: 630px !important;
  padding-left: 280px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.tableContainer {
 overflow: scroll;
 overflow-y: hidden;
 margin-bottom: 20px;
}

.github-btn-bar {
  margin-bottom: 50px;
}

.github-btn-bar span:nth-child(1) {
  margin-right: 10px;
}

.outer-hpos-container {
  padding-bottom: 110px;
  margin-top: 30px;
}

@keyframes rpt-slideUpDown {
  0%   { transform: translateY(20px); opacity: 0 }
  100% { transform: translateY(0px); opacity: 1 }
}

@keyframes rpt-slideUpDown-out {
  0% { transform: translateY(0px); opacity: 1 }
  100%   { transform: translateY(20px); opacity: 0 }
}

@media only screen and (min-width: 370px) {
  .header {
    height: 320px;
  }
}

@media only screen and (min-width: 400px) {
  .adjOuter {
    padding-left: 200px;
  }
}

@media only screen and (min-width: 460px) {
  .adjInnerContainer,
  .adjOuterContainer,
  .tpPositionsContainer {
    overflow-x: hidden !important;
  }

  .adjInner,
  .adjOuter {
    align-self: center;
    padding-left: 0;
  }

  .adjOuter {
    width: auto !important;
  }

  .tpPositions {
    width: auto !important;
    padding-left: 0px;
    align-self: center;
  }

}

@media only screen and (min-width: 500px) {
  .tableContainer {
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 620px) {
  .header {
    height: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .sticky {
    display: block;
  }
  .main,
  .content {
    width: 80%;
  }
  .row, 
  .codeRow {
    flex-direction: row;
  }

  .row > div {
    margin-left: 0;
  }
  
  .row.types > div:nth-child(2),
  .row > div:nth-child(2),
  .row.h-pos-container > div:nth-child(2) {
    margin: 0;

  }
  
  .row.types > div:nth-child(3),
  .row > div:nth-child(3),
  .row.h-pos-container > div:nth-child(3) {
    margin: 0;
  }

  .row.types > div:nth-child(2) {
    margin-left: 15px;
  }

  .outer-hpos-container {
    padding-bottom: 150px;
  }

} 
