* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  background: #F5F6F7;
  font-family: 'Helvetica Neue',Helvetica;
  font-weight: 400;
  margin: 0;
  overflow-x:hidden;
}

.flexContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.purpleGradient {
  background: linear-gradient(52deg, rgba(79,11,189,1) 0%, rgba(136,38,255,1) 100%, rgba(113,4,112,1) 100%);
}

pre,
.greyBkgr {
  background: #ececec !important;
}

.greyBkgr>div {
  width: 95%;
}


pre {
  padding: 20px;
  text-align: left;
  width: 100%;
  overflow-x: auto !important;
}

.codeRow pre {
  width: 33%;
  height: 100%;
  overflow-y: hidden;
  display: inline-block;
  margin: 0;
}

.codeRow {
  width: 100%;
  background: #ececec;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px;
}

.codeRow>div {
  width: 100%;
}

.toggleCode {
  width: 100%;
  background: #ececec;
  cursor: pointer;
  padding: 20px;
  font-size: 14px;
  color: #686868;
  margin-top: 10px;
}

.header {
  justify-content: center;
  width: 100%;
  height: 300px;
}

.header h1 {
  color: white;
  font-size: 45px;
  word-break: normal;
  max-width: 80%;
}

.header h2 {
  color: #ececec;
  font-size: 25px;
  font-weight: 400;
  border-bottom: none;
  padding: 0;
  width: auto;
  max-width: 80%;
}

.ribbon {
  overflow: hidden;
  white-space: nowrap;
}

.ribbon a {
  border: 1px solid #e4e4e4;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  right: -50px;
  top: 40px;
  transform: rotate(45deg);
  background-color: #383838;
}

.token.operator {
  background: none !important;
}

code {
  text-shadow: none !important;
  font-weight: bold;
  font-size: 14px;
}

section h1 {
  font-size: 18px;
  font-weight: 400;
  padding-top: 50px;
  margin: 0;
}

.firstH1 {
  padding-top: 75px;
}

h2 {
  border-bottom: 1px solid grey;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 0;
  width: 100%;
}

h3 {
  font-size: 15px;
  font-weight: 400;
  padding: 10px 0;
}

.content {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.side {
  width: 30%;
  align-items: flex-start;
  padding: 50px 0;
}

.main {
  width: 100%;
}

section {
  width: 100%;
}

ul {
  list-style: none;
  line-height: 2;
  padding: 0;
}

li {
  cursor: pointer;
}

ul.subUl {
  padding: 0 15px;
}

.subList a {
  font-size: 14px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: inherit;
}

a:visited {
  color: inherit;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 65px;
  display: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: white;
  display: inline-block;
  cursor: pointer;
}

.innerButton {
  border: 1px solid #b8b8b8;
  padding: 20px 25px;
  cursor: pointer;
}

.hPosText {
  width: 70%;
}

.hPosText>div {
  width: calc(100%/3);
  display: inline-block;
  text-align: center;
  font-style: italic;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 25px 0;
  border-radius: 5px;
  overflow: hidden;
}

td, th {
  border: 1px solid #a1a1a1;
  text-align: left;
  padding: 10px;
}

td {
  font-size: 15px;
}

th {
  background: #444444;
  color: white;
  padding: 14px;
}

tr:nth-child(even) {
  background-color: #ececec;
}

.vPlaceHolder,
.hPlaceHolder {
  height: 50px;
  width: 5px;
  font-size: 14px;
  background: purple;
  position: relative;
}

.hPlaceHolder {
  height: 5px;
  width: 50px;
  margin-top: 10px;
}

.colors .row>div {
  min-width: 150px;
}

.hoverDiv {
  width: 120px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: #2c2c2c;
  border: 2px solid #4b4b4b;
  background: rgba(137, 27, 211, 0.4);
  border-radius: 5px;
}

.square {
  position: relative;
  height: 250px;
  width: 250px;
  border: 2px solid #4b4b4b;
  overflow: hidden;
  background: rgba(137, 27, 211, 0.4);
  border-radius: 5px;
}

.top,
.left,
.right,
.bottom {
  position: absolute;
  height: calc(100% / 1.414);
  width: calc(100% / 1.414);
  top: 50%;
  left: 50%;
  border: 1px solid #4b4b4b;
  transform-origin: 0% 0%;
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
}

.topText,
.bottomText,
.rightText,
.leftText {
  position: relative;
  top: 47.5%;
  left: 45%;
}

.leftText {
  left: -20%;
}

.topText {
  top: 20%;
  left: 45%;
}

.bottomText {
  top: 75%;
  left: 32%
}

.bottom {
  transform: rotate(45deg);
}

.top {
  transform: rotate(-135deg);
}

.left {
  transform: rotate(135deg);
}

.square > div:hover {
  background: rgba(128, 128, 128, 0.4);
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sticky {
    display: block;
  }
  .main {
    width: 80%;
  }
} 
