{
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "extends": [
        "airbnb"
    ],
    "plugins": [
        "babel"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "rules": {
        "comma-dangle": [
            "warn",
            "never"
        ],
        "object-curly-spacing": "off",
        "object-curly-newline": "off",
        "require-jsdoc": "off",
        "indent": "off",
        "max-len": "off",
        "react/require-default-props": "off",
        "react/destructuring-assignment": "off",
        "react/prop-types": "off",
        "arrow-body-style": "off",
        "no-confusing-arrow": "off",
        "react/no-unescaped-entities": "off",
        "jsx-a11y/mouse-events-have-key-events": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "import/no-extraneous-dependencies": "off"
    }
}